body {
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(img-14.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

form {
    min-height: 100vh;
    width: 100vw;
    background: -webkit-linear-gradient(90deg, hsla(217, 100%, 50%, .9) 0%, hsla(186, 100%, 69%, .9) 100%);
    padding: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:1em;
}
form .stadisticas {
    display: flex;
    justify-content: center;
    align-items: center;
    gap:0.5em;
}

form h1 {
    color:#fff;
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    text-shadow: 1px 1px 10px #000;
    text-transform: uppercase;
}

form img{
    width: 300px;
    background-color: #fff;
    padding: 0.3em;
    border-radius: 10px;
    box-shadow: 1px 1px 5px #000;
}

form span {
    font-size: 23px;
    font-weight: 600;
    color:#fff
}
form p {
    font-weight: 500;
}

form .id_pokemon{
    margin:20px 0;
    outline: none;
    font-size: 23px;
    padding: 7px;
    border-radius: 20px;
    text-align: center;
    border: none;
}

form .submit {
    font-size: 23px;
    text-align: center;
    width: 120px;
    padding: 0.3em 0;
    border-radius: 20px;
    border: none;
}

span{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:5px;
}